@import 'default';
@import 'mixins';

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-transform: uppercase;
	margin: $pad*4;
	
	#logo {
		display: flex;
		cursor: default;
		letter-spacing: 5px;
		h3 { display: inline-block; font-size: 2em; align-self: flex-end; color: $lg-col;}
		i { color: $bg-col; padding-left: $pad; font-size: 3em; }
	}

	#nav {
		ul { 
			display: flex; text-decoration: none; 
			list-style: none; color: $sec-col;

			a { 
				@include set-anim-btn($bg-sec-col);
				padding: $pad $pad*2 $pad $pad*2;
				border-radius: 30px;
			}
		}

		#xBtn { display: none; }
	}

	#navIcon { display: none; }

	#login {
		
	}

	.btn { 
		font-size: 1.7em; font-weight: bold;
		cursor: pointer; color: silver;
	}
}

main {
	#carousel {
		position: relative;
		overflow-x: hidden;

		.container {
			@include carousel();
			
			color: $rvr-col;
	 		@include set-bg-bw($prim-col);
	 		

	 		> div {
	 			display: flex; flex-direction: column; justify-content: center;
	 			padding: $pad*10 0;
				text-align: center; 
				width: 100vw; height: 100%;

				background-size: cover;
				background-position: center, center;
				
				h1 { font-size: 3em; }

				a { 
					display: inline-block;				
					color: $rvr-col; background-color: $bg-col; 
					border-radius: $pad*3;
					padding: $pad*2 $pad*4; 
					margin: $pad*5 auto;
					font-weight: bold; text-transform: uppercase; font-size: 1.25em; 
					
					@include bounce();
				}
	 		}
		}

		.arw {
	 		position: absolute;
	 		bottom: 30px; right: 30px;
	 		font-size: 2em;
	 		color: $rvr-col;
	 		i { 
	 			padding: $pad; cursor: pointer; 
				&:hover { transform: scale(1.3); transition: all 0.25s; }
	 		}
	 	}
	
		[data-item='1'] {
			background-image: url('https://www.itl.cat/pngfile/big/33-332476_new-york-buildings-wallpapers-hd-free-482218-new.jpg');
		}
		
		[data-item='2'] {
			background-image: url('https://images.wallpaperscraft.ru/image/gorod_kurort_more_135956_1920x1080.jpg'); 
		}
	}

	#work {
		display: block;
 
		max-width: $max-w; margin: auto;
		text-align: center;
		h3 { max-width: 600px; margin: auto; padding: $pad*3; text-transform: uppercase;}
		article { margin: 100px; }
		.fa-chart-line { font-size: 3em; color: $bg-col;  }
		
		.feature {
			overflow-x: hidden;
			margin-bottom: 100px;
			margin: 0;

			h3 { text-transform: none; color: $bg-col; }

			.feature-nav { 
				display: flex; justify-content: space-between;
				cursor: pointer;
				border-bottom: 1px solid lightgray;

				> div { padding: 25px; }
				span { padding: $pad; }
				.number { 
					background: $lg-col; color: $rvr-col;
					padding: $pad $pad*1.5; border-radius: 50%; 
				}
				

				.selected-number, > div:hover {
					.number { background: $bg-col; }
				}
			}

			.feature-describe {
				@include carousel();


				> div {
					display: flex; justify-content: space-around; align-items: center;
					padding: $pad 0;
					p { padding: $pad; }
				}

				.image { font-size: 5em; color: $bg-sec-col;}
				.describe { 
					max-width: 600px; text-align: justify; 
				}
			}
		}
	}
}

#modal_login {
	display: none;
	justify-content: center; align-items: center; // if display: flex;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	background: rgba(0,0,0,.5);
	
	.modal-block {
		position: relative;
		display: flex; flex-direction: column;
		justify-content: center;
		background: $rvr-col;
		width: 400px;
	}

	#xBtn {
		position: absolute;
		right: 15px; top: 15px;
		font-size: 1.6em;
		cursor: pointer;
	}
	
	.user-data {
		margin-top: 25px;
		display: flex; flex-direction: column; align-items: center;

		.user-pic {
			font-size: 5em;
		}

		.user-name {
			text-transform: uppercase;
			color: $lg-col;
			margin: $pad;
		}
	}


	form {
		margin-bottom: 25px;
		display: flex; justify-content: center; flex-direction: column;

		input {
			padding: $pad; margin: $pad auto;
			width: 200px;
		}

		[type='submit'] {
			border: 1px solid black;
			background: $bg-sec-col;
			font-weight: bold;
			font-size: 1.05em; color: $rvr-col;
			cursor: pointer; 
			&:hover { transition: all 0.25s; background: lighten($bg-sec-col, 5%); }
		}
	}

	#logout, [type='submit'] {
		width: 200px;

		padding: $pad;
		border: 1px solid black;
		background: $bg-sec-col;
		font-weight: bold;
		font-size: 1.05em; color: $rvr-col; text-transform: uppercase;
		cursor: pointer; 
		&:hover { transition: all 0.25s; background: lighten($bg-sec-col, 5%); }
	}

	#logout { 
		display: none;
		margin: 25px auto;
		// background: crimson;
		// &:hover { background: lighten(crimson, 5%); }
	}
}

@import 'mobile';